@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.awesome {
   font-family: 'Raleway', sans-serif;
   width: 1170px;
   margin: auto;
}


.awesome__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    margin: 0;
    font-size: 36px;
    font-weight: 400; 
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase; 
    text-align: center;

}

.subtitle {
    color: #86878B;
    text-align: center;
    
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.line { 
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;

}

.awesome__container {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;

}

.awesome__block {
    width: 370px;
    text-align: center;
    
}

.awesome__icon-wrapper {
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: auto;
    margin: 0 auto 78px;

}

.awesome__block-title {
    font-family: 'Open sans', sans-serif;
    margin-bottom: 47px;
    font-size: 24px;

}

.awesome__block-subtitle {
    font-size: 18px;
}

.tabs {
    width: 1170px;
    height: 540px;
    left: 170px;
    top: 1263px;
    margin: auto;
}

.tabs__button-first {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 14px;
    background-color: #ffff;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 184px;
    height: 40px;
    color: #333333;
}

.tabs__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #ffff;
    border: none;
    width: 184px;
    height: 40px;
    color: #333333;
}



.tabs__content {
    font-family: 'Raleway';
    width: 1170px;
    margin: auto;
    display: flex;
    height: 501px;
    width: 1170px;
    left: 170px;
    top: 1302px;
    border:  1px solid #C6CBCD;
    display: flex;
    justify-content: right;
    

}

.tabs__content-title {
    font-family: 'Open sans' ;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #000000; 

}


.tabs__content-text-block {
   height: 210px;
   width: 570px;
   left: 270px;
   top: 1454px;
   border-radius: nullpx;
   font-family: 'Raleway';
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 21px;
   letter-spacing: 0em;
   text-align: left;
   


}

.tabs__content-buttom {
    height: 58px;
    width: 270px;
    border-radius: 0px;
    background: #EC7979;
    height: 58px;
    font-family: 'Open Sans';
    margin-top: 27px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Open Sans' ;
    font-weight: 600px;
    border: none;


}

.tabs__content-buttom:hover {
    background: #AB4949;
    

}

.tabs__content-buttom:active {
    background: #EC7979;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    
}



.tabs__content-img {
    margin-left: 30px;
    

}

.tabs__img {
    height: 500px;
    width: 470px;
    left: 870px;
    top: 1303px;
    border-radius: 0px;
    float: left;

}

.pricing {
    width: 1508px;
    height: 900px;
    margin: auto;
    background-color: #F5F5F5;
    
}

.pricing__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__price {
    margin-top: 59px;
    text-align: center;    
    
}

.pricing__price-box {
    display: flex;
    margin: 0 170px 0 168px;
    width: 1170px;
    height: 560px;
    
}


.pricing__price-basic {
    width: 370px;
    height: 510px;
    margin-top: 20px;
    
    
    

}

.pricing__price-optima {
    width: 370px;
    height: 510px;
    margin: 0 30px 20px 30px;
    
    
    
    

}

.pricing__price-pro {
    width: 370px;
    height: 510px;
    margin-top: 20px;
    
    
    

}

.pricing__item-first {
    width:370px;
    height:60px;
    background: #333333;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 24px;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pricing__item-first:hover {
    box-shadow: 0 0 10px #FFFFFF inset;
    margin-top: -20px;
}


.pricing__item-second {
    height: 100px;
    width: 370px;
    background: #333333;
    font-family: 'Raleway' ;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 36px;
    border: 2px solid #FFFFFF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__item-second:hover {
    box-shadow: 0 0 10px #FFFFFF inset;
    margin-top: -20px;
}


.pricing__item-thirty {
    height: 50px;
    width: 370px;
    background: #333333;
    color: #FFFFFF80;
    font-size: 18px;
    border: 2px solid #FFFFFF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.pricing__item-thirty:hover {
    box-shadow: 0 0 10px #FFFFFF inset;
    margin-top: -20px;
}

.pricing__item-other {
    height: 50px;
    width: 370px;
    background: #FFFFFF;
    color: #86878B;
    font-size: 18px;
    border: 2px solid #F5F5F5;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.pricing__item-other:hover {
    box-shadow: 0 0 10px #000000 inset;
    margin-top: -20px;
}



.customers__content {
    width: 1170px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 64px;
}

.customers__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers__content-wpapper {
    width: 370px;
} 

.customers__text-container {
    width:370px;
    height:180px;
    background: #E2E2E2;
    border-radius: 10px;
    color: #86878B;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 38px;
    display: flex;
    align-items: center;

}

.customers__triangle {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    margin-left: 70px;
}

.customers__person-container {
    margin-top: 46px;
    display: flex;
}

.customers__data-conteiner {
    margin-left: 30px;
}

.customers__name {
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.customers__job {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}